<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='cart.css') }}">

<body>

    <h2>🛒 Your Cart</h2>

    {% for item in products %}
    <div>

        <h3>{{ item.product.name }}</h3>

        {% if item.product.image %}
        <img src="{{ url_for('static', filename='image/' + item.product.image) }}" width="100 "> {% endif %}

        <p>Price: ${{ item.product.price }}</p>
        <p>Quantity: {{ item.quantity }}</p>
        <p>Subtotal: ${{ item.subtotal }}</p>

        <a href="{{ url_for( 'remove_from_cart', product_id=item.product.id) }} ">
             Remove 
        </a>

    </div>
    <hr> {% else %}
    <p>Cart is empty</p>
    {% endfor %}

    <h3>Total: ${{ total }}</h3>
    <a href="{{ url_for( 'checkout') }} ">
        💳 Bye New</a>

    <a href="{{ url_for( 'dash') }} ">⬅ Continue Shopping</a>

</body>

</html>