<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY SHOP</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Story+Script&family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>

<body>

<header>
    <h1>MYshop.DZ</h1>

    <nav>
        <a href="#">HOME</a>

        {% if session.user %}
            <a href="/dashboard">CONTROL PANEL</a>
            <a href="/logout">LOG OUT</a>
        {% else %}
            <a href="/login">LOG IN</a>
            <a href="/register">REGISTER</a>
        {% endif %}
    </nav>
</header>

<main>
    <h2>Our Products</h2>

    <div class="products">
        {% for product in products %}
        <div class="product-card">
            <img src="{{ url_for('static', filename='image/' + product.image) }}">
            <h3>{{ product.name }}</h3>
            <p>{{ product.description }}</p>
            <p class="price">${{ product.price }}</p>
            <button>Buy Now</button>
        </div>
        {% else %}
        <p>No products available</p>
        {% endfor %}
    </div>
</main>

</body>
</html>