<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyShop</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='sty.css')  }} ">

</head>

<body>

    <!-- 🔝 NAVBAR -->
    <header class="navbar">
        <div class="logo">MyShop</div>

        <input type="text" placeholder="Search for anything..." class="search">

        <div class="nav-links">
            <a href="#">Home</a>
            <a href="#">Categories</a>
            <a href="#">Deals</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
    </header>

    <!-- 🎯 HERO SECTION -->
    <section class="hero">
        <h1>Find Everything You Need</h1>
        <p>Best deals. Best prices. Fast delivery.</p>
        <button>Shop Now</button>
    </section>

    <!-- 🛍 PRODUCTS -->
    <section class="products">
        <h2>Popular Products</h2>
        <div class="card">
            <img src="{{url_for('static',filename='image/kv_group_Tablet_noText.jpg') }}">
            <h3>galaxy s25</h3>
            <p>$60</p>
            <button>Buy Now</button>
        </div>
        <div class="card">
            <img src="{{url_for('static',filename='image/galaxy-s24-highlights-comparison.jpg') }}">
            <h3>galaxy s24</h3>
            <p>$40</p>
            <button>Buy Now</button>
        </div>
        <div class="card">
            <img src="{{url_for('static',filename='image/document_service_38258920_632_5_1607203373.jpg') }}">
            <h3>Galaxy s23 Ultra</h3>
            <p>$60</p>
            <button>Buy Now</button>
        </div>
        <div class=" card ">

            <img src="{{url_for('static',filename='image/fr-galaxy-z-fold7-f966-sm-f966bdbbeub-thumb-547644158.png') }} ">
            <h3>galaxy z</h3>
            <p>$15</p>
            <button>Buy Now</button>

        </div>
        <div class="card ">
            <img src="{{url_for('static',filename='image/ps-galaxy-a17-sm-a175-sm-a175flbomec-thumb-549172775.png') }} ">
            <h3>Galaxy a17</h3>
            <p>$15</p>
            <button>Buy Now</button>
        </div>

        <div class="card ">
            <img src="{{url_for('static',filename='image/ps-galaxy-a26-5g-sm-a266-sm-a266bziimec-thumb-545518237.png') }} ">
            <h3>Galaxy a26</h3>
            <p>$15</p>
            <button>Buy Now</button>
        </div>

        <div class="card ">
            <img src="{{url_for('static',filename='image/ps-galaxy-a57-5g-sm-a576-sm-a576bdbmmec-thumb-551639539.png') }} ">
            <h3>Galaxy a57</h3>
            <p>$15</p>
            <button>Buy Now</button>
        </div>

        <div class="card ">
            <img src="{{url_for('static',filename='image/iphone14.jpg') }} ">
            <h3>iphone 14 pro max </h3>
            <p>$15</p>
            <button>Buy Now</button>
        </div>
        <div class="card ">
            <img src="{{url_for('static',filename='image/14.jpg') }} ">
            <h3>iphone14</h3>
            <p>$15</p>
            <button>Buy Now</button>
        </div>
        <div class="card ">
            <img src="{{url_for('static',filename='image/iphone13.jpg') }} ">
            <h3>iphone13</h3>
            <p>$15</p>
            <button>Buy Now</button>
        </div>
        <div class="card ">
            <img src="{{url_for('static',filename='image/apple-iphone-11-noir-64-go-300x300.jpg') }} ">
            <h3>iphone 11</h3>
            <p>$15</p>
            <button>Buy Now</button>
        </div>
        <div class="card ">
            <img src="{{url_for('static',filename='image/iphone x.jpg') }} ">
            <h3>iphone x</h3>
            <p>$15</p>
            <button>Buy Now</button>
        </div>
        <div class="card ">
            <img src="{{url_for('static',filename='image/b2b5065fd657f82a1656d1ddd81a2627.png') }} ">
            <h3>redmi a7 pro</h3>
            <p>$15</p>
            <button>Buy Now</button>
        </div>
        <div class="card ">
            <img src="{{url_for('static',filename='image/b7dea8a23e1e422efdc1e6baf2857070.png') }}">
            <h3>redmi note 15 pro</h3>
            <p>$15</p>
            <button>Buy Now</button>
        </div>
        <div class="card ">
            <img src="{{url_for('static',filename='image/d7a43f9979c87a23a946a2521e106016.png') }} ">
            <h3>redmi note 15 5G</h3>
            <p>$15</p>
            <button>Buy Now</button>
        </div>
        <div class="card ">
            <img src="{{url_for('static',filename='image/d573b4788d74ae1b9876068ff8272725.png') }} ">
            <h3>redmi note 14 pro</h3>
            <p>$15</p>
            <button>Buy Now</button>
        </div>
        <div class="card ">
            <img src="{{url_for('static',filename='image/f168e05f0fff56485e404f1d5a243e1a.png') }}">
            <h3>redmi note 15 </h3>
            <p>$15</p>
            <button>Buy Now</button>
        </div>

        </div>
    </section>

</body>

</html>